html {
    height: 100%;
}

body {
    height: 100%;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.main.dark {
    background-color: #110301;
}

.inner-content {
    width: 100vw;
}

.block-container {
    margin-left: -15px;
    margin-right: auto;
    background-color: #121216;
}

.block-row {
    display: flex;
    width: 100vw;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.block-node {
    cursor: pointer;
    width: 100%;
}

@media (min-width: 768px) {
    .block-container {
        margin-left: auto;
    }
}

.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
