html {
    height: 100%;
}

body {
    height: 100%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.main {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.main.dark {
    background-color: #110301;
}

.inner-content {
    width: 100vw;
}

.block-container {
    margin-left: -15px;
    margin-right: auto;
}

.block-row {
    display: flex;
    width: 100vw;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.block-node {
    font-size: 2.5rem;
    cursor: pointer;
    width: 100%;
}

@media (min-width: 768px) {
    .block-container {
        margin-left: auto;
    }
}
