.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.main {
    height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.inner-content {
    height: 10vh;
    width: 100vw;
}

.block-container {
    margin-left: -15px;
    margin-right: auto;
}

@media (min-width: 1140px) {
    .block-container {
        margin-left: auto;
    }
}
